@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

:root {
  --site-font-family: Garamond, "EB Garamond", "Adobe Garamond Pro", "Apple Garamond", Georgia, serif;
}

html,
body,
button,
input,
select,
textarea {
  font-family: var(--site-font-family);
}

body {
  background-color: #fff;
  padding: 0px;
  font-family: var(--site-font-family);
  font-size: 16.0px;
  line-height: 1.5;
  color: #595959;
  font-weight: 400;
  margin: 0;
}
